body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome-header{
  height: 30px;
  max-width: 1920px;
  background-color: #000;
  font-family: "Space Mono", monospace;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  z-index: 3;
}
.header{
  max-width: 1920px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  z-index: 3;
}
.header-list, .header-list-2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 20px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}
.header-list{
  width: 200px;
  margin-left: 40px;
}
.header-list li, .header-list-2 li{
  position: relative;
  cursor: pointer;
}
.header-list li span, .header-list-2 li span{
  position: absolute;
  right: -2px;
  top: 8px;
}
.header-list li span img{
  width: 40px;
}
 .header-list-2 li span img{
  width: 60px;
  height: 3px;
}
.header-list-2{
  width: 200px;
}
.header-h1{
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon{
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero{
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-1{
  display: flex;
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  position: relative;
}
.page-1-image{
  height: 100vh;
  width: 50%;
  position: relative;
  z-index: 1;
}
.page-1-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.page-1-aside{
  display: flex;
  width: 50%;
  height: 100vh;
}
.page-1-aside-text{
  position: relative;
  margin: 150px 150px;
  width: 300px;
  height: 330px;
}
.page-1-aside-text h1{
  line-height: 100px;
  font-size: 80px;
  font-weight: 200;
  font-family: "Anton", sans-serif;
}
.page-1-logo{
  position: absolute;
  top: -60px;
  right: 0px;
  width: 110px;
}
.page-1-else-text{
  position: absolute;
  width: 380px;
  right: -130px;
  bottom: -40px;
}
.next-page-button, .prev-page-button{
  position: absolute;
  top: 50%;
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBED81;
  cursor: pointer;
  z-index: 2;
}
.next-page-button{
  right: 0;
}
.prev-page-button{
  left: 0;
}
.next-page-button img, .prev-page-button img{
  width: 60px;
}
.line{
  max-width: 1920px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 25px;
  position: relative;
  z-index: 1;
}
.line p{
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 100;
  color: #202020;
}
.coffe-product{
  height: 480px;
  background-color: #FDF1D9;
  display: flex;
}
.coffe-product-head{
  padding: 90px 20px 10px 70px;
  width: 45%;
  height: 480px;
}
.coffe-product-head h1{
  font-family: "Anton", sans-serif;
  height: 150px;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}
.coffe-product-head p{
  line-height: 22px;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  margin-bottom: 90PX;
}
.coffe-product-head a{
  text-decoration: none;
  font-family: "Anton", sans-serif;
  color: #202020;
}
.coffe-product-head a span img{
  width: 30px;
}
.coffe-product-arabica,
.coffe-product-robusta{
  border-left: 1px solid #202020;
  width: 27.5%;
  height: 480px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.coffe-product-arabica img,
.coffe-product-robusta img{
  width: 350px;
}
.coffe-product-text{
  margin-left: 50px;
}
.coffe-product-text h1{
  font-size: 23px;
  font-weight: 100;
  font-family: 'Anton', sans-serif;
}
.coffe-product-text p{
  font-family: 'Space Mono', monospace;
  font-size: 13px;
}
.aesthetic-ads{
  width: 100%;
  position: relative;
}
.aesthetic-ads img{
  width: 100%;
  display: block;
}
.words-coffe{
  width: 100%;
  position: relative;
  display: flex;
}
.words-coffe-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.words-coffe-text h1{
  font-size: 22px;
  font-weight: 100;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin: 20px 0 90px 0;
}
.words-coffe-text p{
  font-family: 'Space Mono', monospace;
  font-size: 12px;
}
.words-coffe-text ul{
  display: flex;
  list-style-type:circle;
}
.words-coffe-image{
  width: 50%;
}
.words-coffe-image img{
  width: 100%;
  display: block;
}
.locate-coffe{
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #F8F8F8;
  border: 1px solid #202020;
}
.locate-coffe-name{
  width: 40px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 40px ;
  border-left: 1px solid #202020;
  border-right: 1px solid #202020;
  cursor: pointer;
}
.locate-coffe-name h1{
  writing-mode: vertical-lr;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}
.locate-coffe-info{
  display: flex;
  padding: 50px;
  width: 1100px;
}
.locate-coffe-info img{
  height: 70vh;
  width: 90vh;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 40px;
}
.locate-coffe-info-text{
  padding: 40px 0;
}
.locate-coffe-info-text h1{
  font-size: 30px;
  font-weight: 100;
  font-family: 'Anton', sans-serif;
}
.locate-coffe-info-text p{
  font-size: 13px;
  font-family: 'Space Mono', monospace;
  margin: 20px 0 20px 0;
}
.locate-coffe-info-text .first{
  line-height: 25px;
}
.locate-coffe-info-text button{
  font-family: 'Anton', sans-serif;
  color: #fff;
  background-color: #000;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.line-2{
  width: 100%;
  height: 100px;
  padding: 55px;
  display: flex;
  align-items: center;
}
.line-2 h1{
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  font-weight: 100;
}
.coffe-product-full{
  display: flex;
  width: 100%;
  height: 60vh;
}
.the-product{
  width: 25%;
  height: 100%;
  border: 1px solid #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.the-product img{
  margin-top: 20px;
  width: 80%;
}
.product-text{
  width: 100%;
  padding: 30px;
}
.product-text h1{
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}
.product-text p{
  font-size: 12px;
  font-family: 'Space Mono', monospace;
}
